<div style="padding: 15px; margin-bottom: 10px; margin-top: 20px; background: #ffc">
    <h2 style="color: #75AF2D">কুরআন মজীদ ও সহীহ হাদীসের আলোকে মাহে রমযান</h2>
    <ul class="articles">
        <li>
            <a href="http://alkawsar.com/article/641">কুরআন মজীদ ও সহীহ হাদীসের আলোকে রমাযানুল মুবারক</a>
        </li>
        <li>
            <a href="http://alkawsar.com/article/261">হাদীস ও আছারের আলোকে রোযার মাসায়েল</a>
        </li>
        <li>
            <a href="http://alkawsar.com/article/45">হাদীস ও আছারের আলোকে রমযান : ফাযাইল ও মাসাইল</a>
        </li>
        <li>
            <a href="http://alkawsar.com/article/642">কুরআন মজীদ ও সহীহ হাদীসের আলোকে রোযার গুরুত্ব ও ফযীলত</a>
        </li>
        <li>
            <a href="http://alkawsar.com/article/47">শাবান, রমযান, ঈদঃ কিছু প্রশ্নের উত্তর</a>
        </li>
        <li>
            <a href="http://alkawsar.com/article/433">মাহে রমযান : পারস্পরিক সহযোগিতা বিবেচনা দায়িত্ব ও ছাড়ের কিছু কথা
            </a>
        </li>
        <li>
            <a href="http://alkawsar.com/article/250">মাহে রমাযান: আমরা উপনীত হয়েছি জীবন-পথের হাম্মামে</a>
        </li>
        <li>
            <a href="http://alkawsar.com/article/715">বিদায় রমযান, বিদায় ঈদ
            </a>
        </li>
        <li>
            <a href="http://alkawsar.com/article/439">বিদায় রমযান, বিদায় ঈদ : কী পেলাম, কী হারালাম</a>
        </li>
        <li>
            <a href="http://alkawsar.com/article/711">ঈদ-ভাবনা আমরা মুসলিম : কত মহান আমরা, কত দীন</a>
        </li>
        <li>
            <a href="http://alkawsar.com/article/432">সাদাকাতুল ফিতর আধা সা গম : হাদীস ও সুন্নায়, আছার ও ইজমায়</a>
        </li>
        <li>
            <a href="http://alkawsar.com/article/735">রোযায় শুকরগোযারির প্রশিক্ষণ
            </a>
        </li>
        <li>
            <a href="http://alkawsar.com/article/779">ফযীলতপূর্ণ দিবস-রজনী : একটি সংক্ষিপ্ত পর্যালোচনা
            </a>
        </li>
    </ul>
</div>