{% extends "new_layout.html" %}

{% block entire_title %} খোঁজার ফলাফল | {{ locals.magazine_name }}{% endblock %}
 
{% block page_header %}
	<h2>"{{ query }}" খোঁজার ফলাফল</h2>
{% endblock %}

{% block page_content %}
	<div id="related-articles" >
		<ul class="articles">
    			{% for result in page.object_list %}
    				<li>
    					<p class="article-section {{ language }}">
					        {{ result.object.issue.title }} {% if result.object.section %} . {{ result.object.section.title }} {% endif %}
				       </p>
       				 	<h4><a href="{{ result.object.get_absolute_url }}">{{ result.object.headline }}</a></h4>
					    <div class="intro-text">{{ result.object.intro_text|truncatewords:50 }}</div>
                               <div>
           <a class="read-more right" href="{{ result.object.get_absolute_url }}">{{ locals.read_more }} »</a>
           <div class="clear"></div>
       </div>
        			</li>
    			{% endfor %}
		</ul>
	</div>
	{% if page.has_previous or page.has_next %}
        <div>
            {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; {{ locals.previous }} {% if page.has_previous %}</a>{% endif %}
            |
            {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}{{ locals.next }} &raquo;{% if page.has_next %}</a>{% endif %}
        </div>
    {% endif %}
 {% endblock %}