{% extends "new_layout.html" %}

{% block entire_title %}  {{ article.headline }} | {{ locals.magazine_name }}{% endblock %}

{% block page_content %}
        <div id="site-map" style="padding: 0 0 5px 0">
            <a href="{{ issue.get_absolute_url }}">প্রথম পাতা</a><span style="padding: 0 10px;">»</span>
            {% if article.section %}
            <a href="{{ article.get_issue_section_url }}">{{ article.section.title }}</a><span style="padding: 0 10px;">»</span>
            {% endif %}
        </div>
        <div class="page-content-header">
            <h2 style="padding-bottom: 5px;">{{ article.headline }}</h2>
            <div class="left">
                {{ article.get_authors_link|safe }}
            </div>
            <div id="share-control" class="right" style=" padding: 0;">
                <img class="left" src="/static/img/tools_print.gif" /><a id="print" class="left" href="{{ article.get_absolute_url }}/print">প্রিন্ট সংস্করণ</a>
                <img class="left" src="/static/img/icon_share.gif" /><a id="share" class="left" href="#">শেয়ার</a>
            </div>
            <div class="clear"></div>
            <div id="share-box" style="display: none;">
                <div class="share-inner-box">
                    <div class="share-top">
                        <h4>সামাজিক ওয়েব সাইটে শেয়ার করুন</h4>
                        <span><a href="#" class="close-share">বন্ধ করুন</a></span>
                        <div class="clear"></div>
                    </div>
                    <ul id="share-menu">
                        <li><a class="digg" href="http://digg.com/submit?phase=2&url=http://alkawsar.com{{ article.get_absolute_url }}&title={{ article.headline }}">Digg</a></li>
                        <li><a class="google" href="http://www.google.com/bookmarks/mark?op=edit&bkmk=http://alkawsar.com{{ article.get_absolute_url }}&title={{ article.headline }}">Google Bookmarks</a></li>
                        <li><a class="delicious" href="http://del.icio.us/post?url=http://alkawsar.com{{ article.get_absolute_url }}&title={{ article.headline }}">del.icio.us</a></li>
                        <li><a class="twitter" href="http://twitter.com/home?status={{ article.headline }} http://alkawsar.com{{ article.get_absolute_url }}">Twitter</a></li>
                        <li><a class="reddit" href="http://reddit.com/submit?url=http://alkawsar.com{{ article.get_absolute_url }}&title={{ article.headline }}">reddit</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
		<div id="body-text">{{ article.body_text|safe }}</div>
        {% with article.topics.all as topics %}
            {% if topics %}
                <div id="article-topics">
                    আরও পড়ুন: &nbsp;
                    {% for topic in topics %}
                        <a href="{{ topic.get_absolute_url }}">{{ topic.name }}</a>
                        {% if not forloop.last %}
                            <span>|</span>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
		
{% endblock %}

{% block page_context %}
    {% if other_issue_articles %}
    <h2>{{ locals.other_articles_from_this_issue }}</h2>
	<ul class="articles">
    	{% for article in other_issue_articles %}
         	<li>
    		    <p><a style="color: #999;margin-bottom: 10px;" href="{{ article.section.get_absolute_url }}">{{ article.section.title }}</a></p>
       		 	<a href="{{ article.get_absolute_url }}">{{ article.headline }}</a>
        	</li>
    	{% endfor %}
	</ul>
   {% endif %}
{% endblock %}

{% block js_includes %}
    <script type="text/javascript">
        $('a#share').click(function (e) {
            e.preventDefault();
            $('div#share-box').show();
            $('div#share-box a.close-share').click(function (e) {
               e.preventDefault();
               $('div#share-box').hide(); 
            });
        });
    </script>
{% endblock %}