{% extends "new_layout.html" %}

{% block entire_title %} {{ author.name }} | {{ locals.magazine_name }}{% endblock %}
 
{% block page_header %}
	<h2>{{ author.name }}</h2>
{% endblock %}

{% block page_content %}
    {% if author.description %}
	<p>{% ifequal language 'bengali' %}পরিচিতি:{% else %}Introduction:{% endifequal %}</p>
    <div class="intro-text {{ language }}"> {{ author.description }}</div>
	<br />
    {% endif %}
    
    {% if author.email %}
	<p>{% ifequal language 'bengali' %}ইমেইল:{% else %}Email:{% endifequal %} {{ author.email }}</p>
	{% endif %}
    {% if related_articles %}
	<div id="related-articles" >
		<h2>{{ locals.related_articles }}</h2>
		<ul class="articles">
    			{% for article in related_articles %}
    				<li>
    					<p class="article-section {{ language }}">
					        {{ article.issue.title }} {% if article.section %} . {{ article.section.title }} {% endif %}
				       </p>
       				 	<h4><a href="{{ article.get_absolute_url }}">{{ article.headline }}</a></h4>
					    <div class="intro-text">{{ article.intro_text|truncatewords:50 }}</div>
                               <div>
           <a class="read-more right" href="{{ article.get_absolute_url }}">{{ locals.read_more }} »</a>
           <div class="clear"></div>
       </div>
        			</li>
    			{% endfor %}
		</ul>
	</div>
	{% endif %}
    
 {% endblock %}

{% block page_context %}
	<div id="other-authors">
		<h2>{{ locals.other_authors|upper }}</h2>
		<ul class="articles">
			{% for author in other_authors %}
    				<li>
    					<span class="right-arrow">»</span>
       				 	<a href="{{ author.get_absolute_url }}">{{ author.name }}</a>
        			</li>
    			{% endfor %}
		</ul>
	</div>
{% endblock %}