<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
  	{% block css %}
  		<link rel="stylesheet" type="text/css" href="/static/css/site.css" />
	{% endblock %}
    <title>{% block title %}Join to Al-kawsar members forum{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
  <body>
  	{% block body %}
	<div class="form">
		<p>Join to <a href="/">Alkawsar.com</a></p>
		<p style="font-size: 16px;">Change Password</p>
		<div class="login-form">
			{% if errors %}
				<div class="errors">
					<ul class="error-list">
						{% if errors.current_password %}
							<li>{{ errors.current_password }}</li>
						{% endif %}
						{% if errors.new_password %}
							<li>{{ errors.new_password }}</li>
						{% endif %}
						{% if errors.confirm_new_password %}
							<li>{{ errors.confirm_new_password }}</li>
						{% endif %}
						
					</ul>
				</div>
			{% endif %}
			<form name="signup" method="POST">
				<ul>
					<li>
						<div class="form-label">
							<label for="login">Current Password</label>
						</div>
						<div class="form-input">
							<input type="text" id="login" class="text {% if errors.current_password %} error {% endif %}" name="current_password" value="{{ data.current_password }}" />
						</div>
						
					</li>
						<div class="form-label">
							<label for="pass">New Password</label>
						</div>
						<div class="form-input">
							<input type="password" id="pass" class="text {% if errors.new_password %} error {% endif %}" name="new_password" value="{{ data.new_password }}" />
						</div>
					<li>
						<div class="form-label">
							<label for="retype-pass">Confirm New Password</label>
						</div>
						<div class="form-input">
							<input type="password" id="retype-pass" class="text {% if errors.confirm_new_password %} error {% endif %}" name="confirm_new_password" value="{{ data.confirm_new_password }}" />
						</div>
					</li>
					<li>
						<div class="form-label"></div>
						<div class="form-input">
							<input class="submit" type="submit" value="Change Password" />
						</div>
					</li>
				</ul>
			</form>
		</div>
	</div>
    {% endblock %}
	{% block js %}
	{% endblock js %}
  </body>
</html>
