{% extends "new_layout.html" %}

{% block entire_title %} {{ locals.contactus }} | {{ locals.magazine_name }}{% endblock %}

{% block page_header %}
    <h2>{{ locals.contactus }}</h2>
{% endblock %}

{% block page_content %}
	{% ifequal language "english" %}
    	<div class="padding">
        	<h3>Advisor</h3>
        	<p><a href="/author/mawlana-abdul-hai-paharpuri">Hazrat Mawlana Abdul Hai Paharpuri</a></p>
    	</div>
		<div class="padding">
        	<h3>Care Taker</h3>
        	<p><a href="/author/muhammad-abdul-malek">Mawlana Abdul Malek</a></p>
    	</div>
		<div class="padding">
        	<h3>Editor</h3>
        	<p><a href="/author/mufti-abul-hasan-muhammad-abdullah">Mufti Abul Hasan Muhammad Abdullah</a></p>
    	</div>
		<div class="padding">
        	<h3>Executive Editor</h3>
        	<p><a href="/author/mawlana-sharif-muhammad">Mawlana Sharif Muhammad</a></p>
    	</div>
		<div class="padding">
        	<h3>Co-editor</h3>
        	<p><a href="/author/muhammad-zakariya-adbullah">Mawlana Muhammad Jakariya Abdullah</a></p>
    	</div>
		<div class="padding">
        	<h3>Mailing Address</h3>
        	<p>The Monthly Alkawsar<br/>30/12, Pollabi<br />Mirpur-12, Dhaka-1216</p>
    	</div>
		<div class="padding">
        	<h3>Hot lines</h3>
        	<p>
        		Tel: 8050418, 0377-20005196<br />
				Fax: 8034508 <br/>
				Mobile: 01710-838379
			</p>
    	</div>
	{% else %}
    	<div class="padding">
        	<h3>উপদেষ্টা</h3>
        	<p><a href="/author/mawlana-abdul-hai-paharpuri">হযরত মাওলানা আব্দুল হাই পাহাড়পুরী</a></p>
    	</div>
		<div class="padding">
        	<h3>তত্বাবধায়ক</h3>
        	<p><a href="/author/muhammad-abdul-malek">মাওলানা মুহাম্মাদ আবদুল মালেক</a></p>
    	</div>
		<div class="padding">
        	<h3>সম্পাদক</h3>
        	<p><a href="/author/mufti-abul-hasan-muhammad-abdullah">মুফতি আবুল হাসান মুহাম্মাদ আব্দুল্লাহ</a></p>
    	</div>
		<div class="padding">
        	<h3>নির্বাহী সম্পাদক</h3>
        	<p><a href="/author/mawlana-sharif-muhammad">মাওলানা শরীফ মুহাম্মদ</a></p>
    	</div>
		<div class="padding">
        	<h3>সহ-সম্পাদক</h3>
        	<p><a href="/author/muhammad-zakariya-adbullah">মাওলানা মুহাম্মাদ যাকারিয়া আব্দুল্লাহ</a></p>
    	</div>
		<div class="padding">
        	<h3>যোগাযোগ</h3>
        	<p>মাসিক আলকাউসার<br/>৩০/১২, পল্লবী<br />মিরপুর-১২, ঢাকা-১২১৬</p>
    	</div>
		<div class="padding">
        	<p>
        		ফোন: ৮০৫০৪১৮<br />
				ফ্যাক্স: ৮০৩৪৫০৮<br/>
				মোবাইল: ০১৯৮৪ ৯৯ ৮৮ ২২<br />
				ইমেইল: <a href="mailto:info@alkawsar.com">info@alkawsar.com</a>
			</p>
    	</div>

        <div class="padding">
            <h3>সার্কুলেশন</h3>
            <p>০১৯৮৪ ৯৯ ৮৮ ৩৩ (এজেন্ট)</p>
            <p>০১৯৮৪ ৯৯ ৮৮ ৪৪ (গ্রাহক)</p>
            <p>০১৯৮৪ ৯৯ ৮৮ ৫৫ (হাতে হাতে)</p>
        </div>

        <div class="padding">
            <h3>ব্যাংক একাউন্ট নম্বর</h3>
            <p>মাসিক আলকাউসার</p>
            <p>চলতি হিসাব নম্বর - ১৬৪.১১০.১৭৯৩</p>
            <p>ডাচ বাংলা ব্যাংক লিমিটেড</p>
            <p>মিরপুর -১০ শাখা, ঢাকা - ১২১৬</p>
        </div>

	{% endifequal %}
{% endblock %}
