{% extends "new_layout.html" %}

{% block wrapper %}
 <div id="page-container">
    <div style="padding: 20px">
        <ul id="english-articles">

            <li>
                <h2><a href="#">The standard Lorem Ipsum passage, used since the 1500s</a></h2>
                <p class="byline"><span>by</span> Md. Ershadul Hoque Sarker<span>&nbsp;on July 2010</span></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                    mollit anim id est laborum.</p>
                <a class="read-more right" href="#">{{ locals.read_more }} &raquo;</a>
                <div class="clear"></div>
            </li>
            <li>
                <h2><a href="#">The standard Lorem Ipsum passage, used since the 1500s</a></h2>
                <p class="byline"><span>by</span> Md. Ershadul Hoque Sarker<span>&nbsp;on July 2010</span></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                    mollit anim id est laborum.
                </p>
                <a class="read-more right" href="#">{{ locals.read_more }} &raquo;</a>
                <div class="clear"></div>
            </li>
            <li>
                <h2><a href="#">The standard Lorem Ipsum passage, used since the 1500s</a></h2>
                <p class="byline"><span>by</span> Md. Ershadul Hoque Sarker<span>&nbsp;on July 2010</span></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                    mollit anim id est laborum.
                </p>
                <a class="read-more right" href="#">{{ locals.read_more }} &raquo;</a>
                <div class="clear"></div>
            </li>
            <li>
                <h2><a href="#">The standard Lorem Ipsum passage, used since the 1500s</a></h2>
                <p class="byline"><span>by</span> Md. Ershadul Hoque Sarker<span>&nbsp;on July 2010</span></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                    mollit anim id est laborum.
                </p>
                <a class="read-more right" href="#">{{ locals.read_more }} &raquo;</a>
                <div class="clear"></div>
            </li>
            <li>
                <h2><a href="#">The standard Lorem Ipsum passage, used since the 1500s</a></h2>
                <p class="byline"><span>by</span> Md. Ershadul Hoque Sarker<span>&nbsp;on July 2010</span></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                    mollit anim id est laborum.
                </p>
                <a class="read-more right" href="#">{{ locals.read_more }} &raquo;</a>
                <div class="clear"></div>
            </li>
            <li>
                <h2><a href="#">The standard Lorem Ipsum passage, used since the 1500s</a></h2>
                <p class="byline"><span>by</span> Md. Ershadul Hoque Sarker<span>&nbsp;on July 2010</span></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                    mollit anim id est laborum
                .</p>
                <a class="read-more right" href="#">{{ locals.read_more }} &raquo;</a>
                <div class="clear"></div>
            </li>
            <li>
                <h2><a href="#">The standard Lorem Ipsum passage, used since the 1500s</a></h2>
                <p class="byline"><span>by</span> Md. Ershadul Hoque Sarker<span>&nbsp;on July 2010</span></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                    mollit anim id est laborum.
                </p>
                <a class="read-more right" href="#">{{ locals.read_more }} &raquo;</a>
                <div class="clear"></div>
            </li>

        </ul>
    </div>
 </div>
 <div id="page-context">
     <div class="padding">
         <div id="rss-link">
               <a class="left" href="http://feeds.feedburner.com/alkawsar" title="Read the latest articles">RSS 2.0</a>
               <img class="left" alt="RSS" src="/static/img/icon-rss.gif" />
               <div class="clear"></div>
          </div>
     </div>
 </div>
 <div class="clear"></div>
{% endblock %}
