<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
  	{% block css %}
  		<link rel="stylesheet" type="text/css" href="/static/css/site.css" />
	{% endblock %}
    <title>{% block title %} Retrieve Password | Al-kawsar.com {% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
  <body>
  	{% block body %}
	<div class="form" style="width: 600px">
		<p><a href="/">The Monthly Alkawsar</a></p>
		{% if data.successful_msg %}
			<p>{{ data.successful_msg }} <a href="/">Back to Home</a></a></p>
		{% else %}
		
			<h2 style="font-size: 24px">Forgot your password?</h2>
			<p style="font-size: 16px; padding-left: 5px">No problem — just enter your email address below and we’ll email you a link to reset your password.</p>
			
		<div class="login-form">
			{% if errors %}
				<div class="errors">
					<ul class="error-list">
						{% for error in  errors.values %}
							<li>{{ error }}</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
			<form name="forgotpassword" method="POST">
				<ul>
					
					<li>
						<div class="form-label">
							<label for="email">{{ locals.enter_email }}</label>
						</div>
						<div class="form-input">
							<input id="email" class="text" name="email" value="{{ data.email }}" />
						</div>
					</li>
					<li>
						<div class="form-label"></div>
						<div class="form-input">
							<input class="submit" type="submit" value="{{ locals.submit }}" />
						</div>
					</li>
				</ul>
			</form>
		</div>
		{% endif %}
	</div>
    {% endblock %}
	
  </body>
</html>
