{% extends "new_layout.html" %}

{% block page_header %}

    <h2>Problem with font?</h2>

{% endblock %}

{% block page_content %}
    
    <h2>It's a matter of few seconds to install the font by following the given instructions.</h2>

    <ul style="padding: 20px 0;">
        <li style="padding: 5px 0;">1. <a href="/static/downloads/SolaimanLipi.ttf">Download</a> the font.</li>
        <li style="padding: 5px 0;">2. Copy and paste it to your system's "Fonts" directory. It's simple.<br/>
            For Windows XP: Start > Run > type "fonts" and click OK. Paste the font in the fonts directory.
            <br/>If you're using Windows Vista or Windows 7, then Start > type 'fonts' in the search box and press enter key. The fonts directory will be opened and paste the font there.
            
        </li>
    </ul>
    
    <p>
        There might be some problem like broken Bengali text in some browsers. In this case you have to install complex script supporter.
        You can download and easily install it by following the given instruction.
        <br/>
        <a target="_blank" href="http://www.omicronlab.com/tools/icomplex-full.html">Try it now on OmicronLab.com!</a>
    </p>
    
    
     
{% endblock %}
		